// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require twitter/bootstrap
//= require_directory .
$(function() {

  $('#gallery1').on('click', function(e) {
    e.preventDefault();
    var pictures = [];
    <% title = {a1: ''} %>
    <% 1.upto(7) do |i| %>
    pictures.push({href: '<%= image_url("a1/1-#{i}.jpg") %>', title: "<%= title["a#{i}".to_sym] %>"});
    <% end %>
    $.swipebox(pictures)
  });


  $('#gallery2').on('click', function(e) {
    e.preventDefault();
    var pictures = [];
    <% 1.upto(7) do |i| %>
    pictures.push({href: '<%= image_url("a2/2-#{i}.jpg") %>', title: "a<%= i %>"});
    <% end %>
    $.swipebox(pictures)
  });

  $('#gallery3').on('click', function(e) {
    e.preventDefault();
    var pictures = [];
    <% 1.upto(9) do |i| %>
    pictures.push({href: '<%= image_url("a3/3-#{i}.jpg") %>', title: "a<%= i %>"});
    <% end %>
    $.swipebox(pictures)
  });

  $('#gallery4').on('click', function(e) {
    e.preventDefault();
    var pictures = [];
    <% 1.upto(8) do |i| %>
    pictures.push({href: '<%= image_url("a4/4-#{i}.jpg") %>', title: "a<%= i %>"});
    <% end %>
    $.swipebox(pictures)
  });

  $('#gallery5').on('click', function(e) {
    e.preventDefault();
    var pictures = [];
    <% 1.upto(4) do |i| %>
    pictures.push({href: '<%= image_url("a5/5-#{i}.jpg") %>', title: "a<%= i %>"});
    <% end %>
    $.swipebox(pictures, {loopAtEnd: true})
  });
});
