//= require_tree .
//= require_self

.page1 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: asset_url('main.jpg');
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 680px;
}

.box-margin {
  margin-top: 10px;
}

.thumbnail {
  cursor: pointer;
  &:hover {
    border: 1px solid rosybrown;
  }
}

.left_font {
  h1 {
    margin: 3px 0 3px;
    color: #FAC599;
  }
  padding-top: 200px;
}

.qrcode {
  padding-top: 10%;
}
