<div id="primary" class="content-area">
<div id="content" class="site-content" role="main">

<article id="post-22" class="post-22 page type-page status-publish hentry">
<header class="entry-header">
  <h1 class="entry-title"></h1>
</header>
<!-- .entry-header -->

<div class="entry-content clear">
<h4>有任何问题可以微信 Wyatt 或者 twitter: <%= link_to('@wyatt_pan', 'https://twitter.com/wyatt_pan') %></h4>
  <p style="text-align:left;">
    <span style="line-height:1.5em;">“翻墙后看什么” <a class="twitter-atreply pretty-link" href="https://twitter.com/fanqianghou" sl-processed="1">@fanqianghou</a>&nbsp; 是个提供给翻墙用户的入口网站，解决“翻墙后上什么网站”的问题。这里是</span><a style="line-height:1.5em;" href="http://zh.wikipedia.org/wiki/%E4%B8%AD%E5%8D%8E%E4%BA%BA%E6%B0%91%E5%85%B1%E5%92%8C%E5%9B%BD%E8%A2%AB%E5%B0%81%E9%94%81%E7%BD%91%E7%AB%99%E5%88%97%E8%A1%A8" target="_blank" sl-processed="1">中华人民共和国被封锁网站列表</a><span style="line-height:1.5em;">，本网站主要推荐中文资源，有助更加了解中国。翻墙后先要做的几件事情：</span>
  </p>
  <ul>
    <li>随时检查翻墙软件的更新情况，保证手头有两到三种可用的翻墙工具（<a href="https://s3.amazonaws.com/fqtools/index.html" target="_blank" sl-processed="1">墙内下载</a>），发现失效马上检查更新版本。建议购买翻墙产品；
    </li>
    <li>注册和使用谷歌（<a href="https://www.google.com" target="_blank" sl-processed="1">Google</a>）的系列服务，至少包括邮箱、搜索和G+；</li>
    <li>
      <a href="http://twitterzw.com/" target="_blank" sl-processed="1">注册和使用</a>推特（<a href="https://twitter.com/" target="_blank" sl-processed="1">Twitter</a>），参考这个<a href="https://twitter.com/wenyunchao/recommend/members" target="_blank" sl-processed="1">推荐中文信息列表</a>，关注这200人，即可满足中文日常信息的大半需要。这里推荐的网站，在推特上大多有开设账号。英文好的也可关注<a href="https://twitter.com/wenyunchao/recommend-en/members" target="_blank" sl-processed="1">这些人</a>。
    </li>
    <li>“翻墙后看什么”主站地址：&nbsp;<a href="http://fanqianghou.com/" sl-processed="1">http://fanqianghou.com/</a>&nbsp;，请收藏，持续更新。亚马逊云上的镜像：&nbsp;<a href="https://s3.amazonaws.com/fanqianghou./index.html" sl-processed="1">https://s3.amazonaws.com/fanqianghou./index.html</a>&nbsp;&nbsp;，据说墙不掉，不妨发给墙内的朋友看看，翻墙与不翻墙大不同。
    </li>
  </ul>
  <p><strong>社交网站</strong></p>
  <ul>
    <li><a href="https://twitter.com/" target="_blank" sl-processed="1">推特（Twitter）</a>&nbsp;
      一、使用推特进行强交互式阅读，别人会把有价值的内容自动推到你眼前，节省筛选时间，信息获取效率更高。二、把自己的观点发布到推特上，可以随时接受他人的检验。三、推特涨粉终极法则：持续提供有价值的信息，包括事实或观点。请关注本网站推号：<a href="https://twitter.com/fanqianghou" sl-processed="1">@fanqianghou</a>&nbsp;。（<a href="http://twitterzw.com/" target="_blank" sl-processed="1">注册访问指南</a>&nbsp;<a href="https://twitter.com/wenyunchao/recommend/members" target="_blank" sl-processed="1">推荐关注的中文信息</a>&nbsp;
      <a href="https://twitter.com/wenyunchao/recommend-en/members" target="_blank" sl-processed="1">推荐关注的英文信息</a>）
    </li>
    <li><a href="https://www.facebook.com/" target="_blank" sl-processed="1">脸书（Facebook）</a>&nbsp;&nbsp;港台及其他地方很多社会运动都是通过脸书发起，可前去参观学习。如：<a href="https://www.facebook.com/OCLPHK?fref=ts" target="_blank" sl-processed="1">占领中环</a>&nbsp; &nbsp;<a href="https://www.facebook.com/Free.Liu" target="_blank" sl-processed="1">Free
      Liu-Xiaobo</a>&nbsp;。<a href="http://www.misterleaf.com/1597/" target="_blank" sl-processed="1">注册指引</a></li>
    <li><a href="https://plus.google.com/" target="_blank" sl-processed="1">Google+</a>&nbsp;&nbsp;中国用户较多，移动端可直接连接，电脑端需要修改hosts文件。<a href="https://docs.google.com/document/d/1lV63NoNH3nuOFIYvaUI5PQCHrnHD99GxwzwqaEZF2PU/edit?&amp;pli=1" target="_blank" sl-processed="1">中文用户手册</a>&nbsp;<a href="https://plus.google.com/u/0/+wenyunchao/posts/TXGtXhAEpHc" target="_blank" sl-processed="1">推荐关注对象</a>&nbsp;<a href="https://plus.google.com/communities/110961311457216179607" target="_blank" sl-processed="1">Lantern群组</a>
    </li>
    <li>
      <strong><a href="http://twister.net.co/" target="_blank" sl-processed="1"><span style="color:#ff0000;">Twister</span></a>&nbsp;
        <span style="color:#ff0000;">这是一个有可能打败审查的利器！</span></strong>推荐安装试用完全去中心化的微博（推特），不用翻墙，不需要服务器，没有审查，信息没人能删除，中文资源丰富。在这里可以在不翻墙的情况下获取到“自由门”等翻墙软件及访问&nbsp;<a href="http://www.vpngate.net/cn/" target="_blank" sl-processed="1">VPN
      Gate</a>&nbsp;镜像站点，成为<span style="color:#ff0000;">一把通往墙外的钥匙</span>。&nbsp;<a href="http://fanqianghou.com/2014/09/04/twister-2/" target="_blank" sl-processed="1">Windows平台下载、安装及使用</a>&nbsp;&nbsp;<a href="https://plus.google.com/108105216183622857074/posts/JTsnYjNoT5Y" target="_blank" sl-processed="1">Ubuntu
      下安装</a>&nbsp; <a href="http://www.hitwister.com" target="_blank" sl-processed="1">论坛</a>&nbsp;
      见容搜索：<a href="https://twisterio.com" target="_blank" sl-processed="1">https://twisterio.com</a>/ 。我的账号是
      @wenyunchao ，注册成功请 @ 我一下。
    </li>
  </ul>
  <p><strong>&nbsp;新闻网站</strong></p>
  <ul>
    <li>
      <a href="http://cn.nytimes.com/" target="_blank" sl-processed="1">纽约时报中文网</a>（推特账号：@<a href="https://twitter.com/nytchinese" target="_blank" sl-processed="1">nytchinese</a>）&nbsp;网站向中国读者介绍《纽约时报》的优秀作品，包括新闻、评论、时尚和文化等内容。其新闻专业性毋庸置疑。2012年10月26日，因刊登揭露温家宝家属累积27亿美元巨额财富的文章《<a href="http://cn.nytimes.com/china/20121026/c26princeling/" target="_blank" sl-processed="1">总理家人的隐秘财富</a>》后被墙。推荐：
      <ul>
        <li>
          <a href="http://cn.nytimes.com/business/20140721/c21alibaba/" target="_blank" sl-processed="1">阿里巴巴上市背后的“红二代”赢家</a>&nbsp;江泽民、王震的孙子，温家宝、贺国强、刘云山、陈云的儿子……
          <a href="http://cn.nytimes.com/business/20140722/c22alibabaresponse/" target="_blank" sl-processed="1">阿里巴巴声明证实报道</a>
          。
        </li>
        <li>张洁平关于香港“<a href="http://oclp.hk/" target="_blank" sl-processed="1">占领中环</a>”运动文章：&nbsp;<a href="http://cn.nytimes.com/china/20140618/cc18zhangjieping/" target="_blank" sl-processed="1">摊牌（一）：一国两制与民主香港</a>&nbsp;<a href="http://cn.nytimes.com/china/20140627/cc27zhangjieping/" target="_blank" sl-processed="1">摊牌（二）：通向普选的巴别塔</a>
          。
        </li>
        <li><a href="http://cn.nytimes.com/topic/wuwei/" target="_blank" sl-processed="1">吴伟：80年代政改系列谈</a></li>
      </ul>
    </li>
    <li>
      <a href="http://www.scmpchinese.com/" target="_blank" sl-processed="1">南华早报中文网</a>&nbsp;（<a class="ProfileHeaderCard-screennameLink u-linkComplex js-nav" href="https://twitter.com/SCMPChinese" target="_blank" sl-processed="1">@<span class="u-linkComplex-target">SCMPChinese</span></a>）大部分内容翻译自每日出版的《南华早报》新闻报道和评论，中国新闻有独家信息渠道，反应灵敏。
      推荐“<a href="http://www.scmpchinese.com/sc/opinion" target="_blank" sl-processed="1">南早评论</a>”。
    </li>
    <li>
      <a href="http://www.chinese.rfi.fr/" target="_blank" sl-processed="1">法广中文网</a>（@<a href="https://twitter.com/RFI_Chine" target="_blank" sl-processed="1">RFI_Chine</a>）
      报道中国新闻的记者有多位是资深人士，常有靠谱独家报道。
    </li>
    <li>
      <a href="http://www.bbc.co.uk/zhongwen/simp/" target="_blank" sl-processed="1">BBC中文网</a>（@<a href="https://twitter.com/bbcchinese" target="_blank" sl-processed="1">bbcchinese</a>）
      由BBC中文部運作的一個中文新聞時事網站，面向全球华人并24 小时更新的新闻资讯和时事评论。自1998年10月起即被墙，2008年因北京举办奥运会曾一度解封。
    </li>
    <li>
      <a style="line-height:1.5em;" href="http://www.voachinese.com/" target="_blank" sl-processed="1">美国之音中文网</a><span style="line-height:1.5em;">&nbsp;（@</span><a style="line-height:1.5em;" href="https://twitter.com/voachina" target="_blank" sl-processed="1">voachina</a><span style="line-height:1.5em;">）美国之音是美国政府对外设立的国有宣传机构。内容较全面，中国新闻多集中于重大事件政策及解读、知名群体或人士的人权迫害等领域。</span>
    </li>
    <li>
      <a href="http://www.rfa.org/english/" target="_blank" sl-processed="1">自由亚洲电台</a>（<a href="http://www.rfa.org/mandarin/" target="_blank" sl-processed="1">普通话</a>&nbsp;@<a href="https://twitter.com/RFA_Chinese" target="_blank" sl-processed="1">RFA_Chinese</a>
      ，&nbsp;<a href="http://www.rfa.org/cantonese/" target="_blank" sl-processed="1">粤语</a>&nbsp;@<a href="https://twitter.com/cantonese" target="_blank" sl-processed="1">cantonese</a>）&nbsp;由美国国会出资，归美国广播理事会管辖。中国新闻报道内容与美国之音类似，对群体事件、突发重大事件、维权、家庭教会和异见群体受打压迫害等新闻报道较多。
    </li>
    <li>
      <a href="http://news.boxun.com/" target="_blank" sl-processed="1">博讯新闻网</a>（@<a href="https://twitter.com/boxun" target="_blank" sl-processed="1">boxun</a>）
      基于公民记者模式运作，报道来自中国大陆的权力斗争的内幕及民间维权等消息。2012年在薄熙来的新闻上常爆靠谱劲料大放异彩。可自由投稿。
    </li>
    <li>
      <a href="http://cn.fmnnow.com/" target="_blank" sl-processed="1">自曲新闻</a>（@<a href="https://twitter.com/freemoren" target="_blank" sl-processed="1">freemoren</a>）&nbsp;&nbsp;一个关注被屏蔽的中国新闻网络媒体，对突发新闻反应极快。
    </li>
    <li><a href="http://yizhiproject.blogspot.com/" target="_blank" sl-processed="1">译志</a>
      （<a href="https://twitter.com/YizhiProject" target="_blank" sl-processed="1">@YizhiProjec</a>t）&nbsp;翻译外媒新闻。
    </li>
    <li><a href="http://asahichinese.com/" target="_blank" sl-processed="1">朝日新闻中文网</a>&nbsp;刊载每日于日本国内发行的《朝日新闻》、朝日新闻官方网站以及应用程序“朝日新闻DIGITAL”内新闻报道的中译版本。
    </li>
    <li><a href="http://www.post852.com/" target="_blank" sl-processed="1">852邮报</a>&nbsp;香港网上媒体，创立於2013年，由前《信报》前副总编辑袁耀清（笔名游清源）等人创办。
    </li>
    <li>
      <a href="http://newtalk.tw/" target="_blank" sl-processed="1">新頭殻</a>（@<a href="https://twitter.com/NewTalk_Tw" target="_blank" sl-processed="1">NewTalk_Tw</a>&nbsp;<a href="https://www.facebook.com/Newtalk.Page" target="_blank" sl-processed="1">脸书</a>）&nbsp;台湾主要无实体出版品的综合性新闻网站之一，自许为“一个有思考力的独立媒体”。
    </li>
    <li>其他：
      <ul>
        <ul>
          <li>香港：<a href="http://www.mingpao.com/" target="_blank" sl-processed="1">明报</a>（@<a href="https://twitter.com/mingpaocom" target="_blank" sl-processed="1">mingpaocom</a>）&nbsp;<a href="http://hk.apple.nextmedia.com/" target="_blank" sl-processed="1">苹果日报</a>（@<a href="https://twitter.com/appledaily_hk" target="_blank" sl-processed="1">appledaily_hk</a>） &nbsp;<a href="http://cablenews.i-cable.com/webapps/index/index.php" target="_blank" sl-processed="1">香港有线</a> &nbsp;<a href="http://rthk.hk/rthk/news/expressnews/index_news.htm" target="_blank" sl-processed="1">香港电台</a>（@<a href="https://twitter.com/rthk_news" target="_blank" sl-processed="1">rthk_news</a>） &nbsp;<a href="http://isunaffairs.com/" target="_blank" sl-processed="1">陽光時務</a>（<a href="https://twitter.com/isunaffairs" target="_blank" sl-processed="1">@isunaffairs</a>）&nbsp; &nbsp;<a href="http://yzzk.com/cfm/main.cfm" target="_blank" sl-processed="1">亚洲周刊</a>（@<a href="https://twitter.com/yzzkeditorial" target="_blank" sl-processed="1">yzzkeditorial</a>）&nbsp;<a href="http://www.open.com.hk/" target="_blank" sl-processed="1">开放杂志</a>（@<a href="https://twitter.com/openmagazinehk" target="_blank" sl-processed="1">openmagazinehk</a>）
            <a href="http://www.mirrorbooks.com/" target="_blank" sl-processed="1">明镜新闻网</a>（@<a href="https://twitter.com/MingJingNews" target="_blank" sl-processed="1">MingJingNews</a>）
            <a href="http://www.inmediahk.net/" target="_blank" sl-processed="1">独立媒体</a>（@<a href="https://twitter.com/inmediahk" target="_blank" sl-processed="1">inmediahk</a>） &nbsp;<a href="http://www.vjmedia.com.hk/" target="_blank" sl-processed="1">辅仁媒体</a>（@<a href="https://twitter.com/VJMediaHK" target="_blank" sl-processed="1">VJMediaHK</a>）；
          </li>
          <li>台湾：<a href="http://tw.nextmedia.com/" target="_blank" sl-processed="1">苹果日报</a>（@<a href="https://twitter.com/TW_nextmedia" target="_blank" sl-processed="1">TW_nextmedia</a>）&nbsp;<a href="http://udn.com/NEWS/mainpage.shtml" target="_blank" sl-processed="1">联合新闻网</a>（@<a href="https://twitter.com/udn_tw" target="_blank" sl-processed="1">udn_tw</a>）&nbsp;<a href="http://www.libertytimes.com.tw/" target="_blank" sl-processed="1">自由时报</a>&nbsp;<a href="http://tw.news.yahoo.com/" target="_blank" sl-processed="1">雅虎奇摩新聞</a>（@<a href="https://twitter.com/yahootaiwannews" target="_blank" sl-processed="1">yahootaiwannews</a>） &nbsp;<a href="http://www.taiwangoodlife.org/" target="_blank" sl-processed="1"><br>
          </a></li>
          <li>美国：<a href="http://www.worldjournal.com/" target="_blank" sl-processed="1">世界新闻网（世界日报）</a>&nbsp;&nbsp;&nbsp;<a href="http://www.ntdtv.com/" target="_blank" sl-processed="1">新唐人电视台</a>（@<a href="https://twitter.com/ntdchinese" target="_blank" sl-processed="1">ntdchinese</a>，暂停更新）
            <a href="http://www.epochtimes.com/" target="_blank" sl-processed="1">大纪元新闻网</a>（@<a href="https://twitter.com/dajiyuan" target="_blank" sl-processed="1">dajiyuan</a>）
            <a href="http://www.soundofhope.org/" target="_blank" sl-processed="1">希望之声</a>&nbsp;&nbsp;<a href="http://2newcenturynet.blogspot.com/" target="_blank" sl-processed="1">新世纪</a>&nbsp;<a href="http://www.secretchina.com/" target="_blank" sl-processed="1">看中国</a>&nbsp;<a href="http://creaders.net/" target="_blank" sl-processed="1">万维读者网</a>
          </li>
          <li>其他：<a href="http://www.malaysiakini.com/cn" target="_blank" sl-processed="1">当今大马</a>&nbsp;<a href="http://www.sinchew.com.my/" target="_blank" sl-processed="1">星洲日报</a>（马来西亚）
          </li>
        </ul>
      </ul>
    </li>
    <li>网站未被墙但部分文章被墙：<a href="http://www.ftchinese.com/" target="_blank" sl-processed="1">FT中文网</a>（@<a href="https://twitter.com/FTChinese" target="_blank" sl-processed="1">FTChinese</a>）、<a href="http://cn.wsj.com/gb/" target="_blank" sl-processed="1">华尔街日报中文版</a>（@<a href="https://twitter.com/ChineseWSJ" target="_blank" sl-processed="1">ChineseWSJ</a>）、
    </li>
    <li>一度被墙目前已经解封&nbsp;<a style="line-height:1.5em;" href="http://cn.reuters.com/" target="_blank" sl-processed="1">路透中文网</a><span style="line-height:1.5em;">（@</span><a style="line-height:1.5em;" href="https://twitter.com/ReutersCN" target="_blank" sl-processed="1">ReutersCN</a><span style="line-height:1.5em;">&nbsp;非官方）&nbsp;</span>
    </li>
  </ul>
  <p><strong>信息网站</strong></p>
  <ul>
    <li>
      <a href="http://chinadigitaltimes.net/chinese/" target="_blank" sl-processed="1">中国数字时代</a>（@<a href="https://twitter.com/CDTChinese" target="_blank" sl-processed="1">CDTChinese</a>）
      加州大学柏克莱分校关于互联网自由的研究项目，是结合网络2.0
      最新技术和网民群体智慧的新闻聚合网站。&nbsp;推荐“<a href="http://chinadigitaltimes.net/chinese/category/真理部指令/" target="_blank" sl-processed="1">真理部指令</a>”、“<a href="http://chinadigitaltimes.net/chinese/category/敏感词库/" target="_blank" sl-processed="1">敏感词库</a>”及<a href="http://eepurl.com/mohN5" target="_blank" sl-processed="1">电邮订阅</a>。
    </li>
    <li>
      <span style="color:#000000;"><a href="https://pao-pao.net/" target="_blank" sl-processed="1">泡泡</a> | 未经审查的互联网信息 <a href="https://s3.amazonaws.com/pao-pao./index.html" target="_blank" sl-processed="1">亚马逊免墙镜像</a></span>
    </li>
    <li>
      <a href="http://laqingdan.net/" target="_blank" sl-processed="1">拉清单</a>（@<a href="https://twitter.com/laqingdan" target="_blank" sl-processed="1">laqingdan</a>）记录他们干的坏事。
    </li>
    <li>
      <a href="http://www.weiquanwang.org/" target="_blank" sl-processed="1">维权网</a>（@<a href="https://twitter.com/weiquanwang" target="_blank" sl-processed="1">weiquanwang</a>）&nbsp;非政治性和非组织性的公民维权志愿者的松散联网，提供中国维权信息及侵权信息。
    </li>
    <li>
      <a href="http://www.64tianwang.com/" target="_blank" sl-processed="1">六四天网</a>（@<a href="https://twitter.com/64tianwang" target="_blank" sl-processed="1">64tianwang</a>）&nbsp;提供中国特别是四川地区的维权信息，由中国天网人权事务中心维护。
    </li>
    <li>
      <a style="line-height:1.5;" href="http://www.letscorp.net/" target="_blank" sl-processed="1">墙外楼</a><span style="line-height:1.5;">（@</span><a style="line-height:1.5;" href="https://twitter.com/letscorp" target="_blank" sl-processed="1">letscorp</a><span style="line-height:1.5;">）&nbsp;网络热门话题追踪；</span>
    </li>
    <li>
      <a href="http://newsworthknowingcn.blogspot.com/" target="_blank" sl-processed="1">非新闻</a>（@<a href="https://twitter.com/wickedonnaa" target="_blank" sl-processed="1">wickedonnaa</a>）
      每天收集汇总中国发生的群体性事件，推荐。
    </li>
    <li>
      <a href="http://www.canyu.org/" target="_blank" sl-processed="1">参与网</a>（@<a href="https://twitter.com/canyu" target="_blank" sl-processed="1">canyu</a>）&nbsp;提供中国维权信息及异见群体动态信息。
    </li>
    <li>
      <a href="http://msguancha.com/" target="_blank" sl-processed="1">民生观察</a>（@<a href="https://twitter.com/minshengguancha" target="_blank" sl-processed="1">minshengguancha</a>）、<a href="http://minzhuzhongguo.org/" target="_blank" sl-processed="1">民主中国</a>、<a href="http://www.yibaochina.com/" target="_blank" sl-processed="1">公民议报</a>&nbsp;&nbsp;<a href="http://www.molihua.org/" target="_blank" sl-processed="1">中国茉莉花革命</a>
    </li>
    <li>
      <a href="http://www.chinaaid.net/" target="_blank" sl-processed="1">对华援助协会</a>（@<a href="https://twitter.com/bobfu4china" target="_blank" sl-processed="1">bobfu4china</a>）
      关注及报道基督教会尤其是家庭教会在中国大陆境内遭受官方逼迫的状况。
    </li>
    <li><a href="http://zh.globalvoicesonline.org/hans/" target="_blank" sl-processed="1">全球之声&nbsp;Global
      Voices</a>（@<a href="https://twitter.com/globalvoiceszh" target="_blank" sl-processed="1">globalvoiceszh</a>）&nbsp;&nbsp;提供主流媒體忽略的視角，讓中文網絡世界能與其它國家的blogger對話。
    </li>
    <li><a href="http://yyyyiiii.blogspot.com/" target="_blank" sl-processed="1">译者</a>&nbsp;网络志愿翻译者，提供最新和最有深度的中国和世界资讯。
    </li>
    <li>
      <a style="line-height:1.5;" href="https://freeweibo.com/" target="_blank" sl-processed="1">自由微博</a><span style="line-height:1.5;">（@</span><a style="line-height:1.5;" href="https://twitter.com/CensoredWeibo" target="_blank" sl-processed="1">CensoredWeibo</a><span style="line-height:1.5;">）&nbsp;匿名和不受屏蔽的新浪微博搜索。</span>
    </li>
    <li>
      <span style="line-height:1.5;">台灣：</span><a style="line-height:1.5;" href="http://www.coolloud.org.tw/" target="_blank" sl-processed="1">苦勞網</a><span style="line-height:1.5;">（</span><a style="line-height:1.5;" href="https://www.facebook.com/coolloud" target="_blank" sl-processed="1">脸书</a><span style="line-height:1.5;">）、</span><a style="line-height:1.5;" href="http://www.civilmedia.tw/" target="_blank" sl-processed="1">公民行動影音紀錄資料庫</a><span style="line-height:1.5;">（@</span><a style="line-height:1.5;" href="https://twitter.com/civil_media" target="_blank" sl-processed="1">civil_media</a><span style="line-height:1.5;">）、</span><a style="line-height:1.5;" href="https://www.peopo.org/" target="_blank" sl-processed="1">PeoPo公民新聞平台</a><span style="line-height:1.5;">（@</span><a style="line-height:1.5;" href="https://twitter.com/PeoPo_PTS" target="_blank" sl-processed="1">PeoPo_PTS</a><span style="line-height:1.5;">）、</span><a style="line-height:1.5;" href="http://we-report.org/" target="_blank" sl-processed="1">weReport調查報導公眾委製平台</a><span style="line-height:1.5;">（@</span><a style="line-height:1.5;" href="https://twitter.com/weReport1" target="_blank" sl-processed="1">weReport1</a><span style="line-height:1.5;"><span style="line-height:1.5;">）、<a href="http://www.thinkingtaiwan.com/" target="_blank" sl-processed="1">想想论坛</a>（推荐）&nbsp;&nbsp;<a href="http://www.taiwangoodlife.org/" target="_blank" sl-processed="1">台湾好生活</a>（@<a href="https://twitter.com/TaiwanGoodLife" target="_blank" sl-processed="1">TaiwanGoodLife</a>） &nbsp;<a style="font-size:14px;line-height:1.5;" title="痞客邦" href="http://www.pixnet.net/" target="_blank" sl-processed="1">痞客邦</a>&nbsp;</span></span><span style="line-height:1.5;">。</span>
    </li>
    <li>
      <a style="line-height:1.5;" href="http://xizang-zhiye.org/" target="_blank" sl-processed="1">藏人行政中央官方中文网</a><span style="line-height:1.5;">&nbsp;（@<a href="https://twitter.com/xizangzhiye" target="_blank" sl-processed="1">xizangzhiye</a>）&nbsp;介绍西藏境内外新闻及西藏政治、经济、文化等内容。&nbsp;</span>
    </li>
    <li><a href="http://www.dalailamaworld.com/" target="_blank" sl-processed="1">第十四世達賴喇嘛官方國際華文網站</a>&nbsp;大量的尊者弘法视频，部分有中文翻译，感兴趣的不要错过。
    </li>
    <li>
      <a style="line-height:1.5;" href="http://www.uighurbiz.net/" target="_blank" sl-processed="1">维吾尔在线</a><span style="line-height:1.5;">（@</span><a style="line-height:1.5;" href="https://twitter.com/uighurbiz" target="_blank" sl-processed="1">uighurbiz</a><span style="line-height:1.5;">）&nbsp;维吾尔人的中文门户网站，中央民族大学教授伊力哈木·土赫提于2006年创办，在伊力哈木被捕后关闭。<a href="http://chinese.uhrp.org/" target="_blank" sl-processed="1"><br>
    </a></span></li>
    <li><a href="http://www.smhric.org/smw_chinese.htm" target="_blank" sl-processed="1">南蒙古观察</a>&nbsp;汇总与南蒙古（内蒙古）相关的群体、维权及人权迫害等事件信息。
    </li>
    <li><a href="http://www.minghui.org/" target="_blank" sl-processed="1">明慧网</a>&nbsp; 法轮大法相关信息。</li>
    <li>
      <a href="http://backtotiananmen.com/" target="_blank" sl-processed="1">重回天安门</a>&nbsp;“六四”25周年纪念活动。&nbsp;<a href="https://docs.google.com/spreadsheet/ccc?key=0AsKDF8_HXe4IdDFQSDNHblFPdjZwNEllSWVqNXlsdFE&amp;usp=sharing" target="_blank" sl-processed="1">2013年起政治犯（良心犯）登记表</a>
    </li>
  </ul>
  <p><strong>视频分享</strong></p>
  <ul>
    <li><a href="http://www.youtube.com/" target="_blank" sl-processed="1">Youtube</a>
      <ul>
        <ul>
          <li>历史专题：
            <ul>
              <ul>
                <li>抗日战争 &nbsp;1.&nbsp;<a href="http://www.youtube.com/watch?v=dj7lWDz-sY8&amp;list=PL425A1894C8D4118D" target="_blank" sl-processed="1">国殇</a>（阳光卫视版，40集）
                </li>
                <li>韩战（抗美援朝） &nbsp;1.毕利·康纳提：<a href="http://www.youtube.com/watch?v=DBuAccDsxMc" target="_blank" sl-processed="1">朝鲜半岛战争风云录</a>（Korean
                  War in Color）
                </li>
                <li>反右运动 &nbsp;1.<a href="http://www.youtube.com/watch?v=-X_9P2Ag23s" target="_blank" sl-processed="1">沈志华：毛泽东与反右运动的发起</a>（讲座）&nbsp;&nbsp;2.纪录片：<a href="http://www.youtube.com/watch?v=CCkIrMhbGN0" target="_blank" sl-processed="1">大堡小劳教</a>&nbsp;
                  3.电影：<a href="http://www.youtube.com/watch?v=ypC8531hr8c" target="_blank" sl-processed="1">夹边沟</a>
                </li>
                <li>大跃进
                  1.<a href="http://www.youtube.com/watch?v=h6l_0hSWMa4&amp;feature=youtu.be" target="_blank" sl-processed="1">毛泽东的大饥荒</a>&nbsp;中文字幕版，字幕由推特中文字幕组制作，团队：@<a href="https://twitter.com/awfan" target="_blank" sl-processed="1">awfan</a>
                  @<a href="https://twitter.com/banpai" target="_blank" sl-processed="1">banpai</a>
                  @<a href="https://twitter.com/WLYeung" target="_blank" sl-processed="1">WLYeung</a>。&nbsp;2.<a href="http://www.youtube.com/watch?v=GW-8Eax1LIY" target="_blank" sl-processed="1">解密时刻:
                  大饥荒 — 死人不是数字游戏</a> (美国之音制作，完整版)
                </li>
                <li>文化大革命 &nbsp;1.<a title="NHK 文化大革命.40年后的证言 全片" href="http://www.youtube.com/watch?v=N00RTaA72g4" target="_blank" sl-processed="1">NHK
                  文化大革命.40年后的证言 全片</a>&nbsp;
                  2.<a title="安东尼奥尼[意大利][中国-中国1972年实景纪录片][三集合一]中文字幕" href="http://www.youtube.com/watch?v=hnnlkLDqgPI" target="_blank" sl-processed="1">安东尼奥尼[意大利][中国-中国1972年实景纪录片][三集合一]中文字幕</a>&nbsp;
                  3.NHK纪录《文革那些事儿》 &nbsp;<a title="[NHK][纪录片].文革那些事儿（1）红卫兵的诞生" href="http://www.youtube.com/watch?v=T82djMQQVAQ" target="_blank" sl-processed="1">（1）红卫兵的诞生</a>&nbsp;<a title="[[NHK][纪录片].文革那些事儿（2）造反有理的狂澜" href="http://www.youtube.com/watch?v=4_0rIf8BnVo" target="_blank" sl-processed="1">（2）造反有理的狂澜</a>&nbsp;<a title="[NHK][纪录片]文革那些事儿（3）下放-青年大移动" href="http://www.youtube.com/watch?v=tkfaSAxjgDc" target="_blank" sl-processed="1">（3）下放-青年大移动</a>&nbsp;<a title="[NHK][纪录片]文革那些事儿（4）改革开放的胎动" href="http://www.youtube.com/watch?v=6CA5I85ADlM" target="_blank" sl-processed="1">（4）改革开放的胎动</a>
                </li>
                <li>八九民运 &nbsp;1.
                  <a href="http://www.youtube.com/watch?v=ZSia0NcWdVE&amp;noredirect=1" target="_blank" sl-processed="1">「六四」是怎樣一回事?</a>&nbsp; &nbsp;2.
                  <a href="http://www.youtube.com/watch?v=rjz-6EdjPi8&amp;feature=youtu.be" target="_blank" sl-processed="1">我们会回来的——凌晨4至7时实录</a> &nbsp;3.<a href="https://www.youtube.com/watch?v=LAwgG_f3xfI#t=0" target="_blank" sl-processed="1">天安门大屠杀
                  1989</a>（曾经是Youtube年度点击率最高的视频） &nbsp;
                  4.<a href="https://www.youtube.com/watch?v=SJu3pnju_5A" target="_blank" sl-processed="1">坦克人</a>（The
                  Tank
                  Man，中文字幕完整版） &nbsp;5.<a href="http://www.youtube.com/watch?v=r7ou2-Kv4UA&amp;list=PL53EFB3B061CE7997" target="_blank" sl-processed="1">纪录片《天安门》</a>（本片争议颇大，请留意） &nbsp;6.《<a href="http://www.youtube.com/watch?v=qGVd7phN148&amp;feature=youtu.be&amp;noredirect=1" target="_blank" sl-processed="1">長城外/Outside
                  the Great Wall</a>》 &nbsp;
                  7.&nbsp;<a href="https://www.youtube.com/watch?v=WpYcHQ_V3d4" target="_blank" sl-processed="1">BLOOD
                  IS ON THE SQUARE 血染廣場</a>
                  （中文字幕）&nbsp;8.&nbsp;<a href="http://www.youtube.com/channel/HCTEnwgnzEoN0" sl-processed="1">Tiananmen
                  Square protests of
                  1989</a><a href="http://www.youtube.com/channel/HCTEnwgnzEoN0" target="_blank" sl-processed="1">频道</a>（搜集近万个视频）
                </li>
              </ul>
            </ul>
          </li>
          <li>纪录片
            <ul>
              <ul>
                <li>
                  <a href="http://www.youtube.com/user/aiweiweidocumentary" target="_blank" sl-processed="1">艾未未工作室纪录片频道</a>（@<a href="https://twitter.com/aiww" target="_blank" sl-processed="1">aiww</a>）
                </li>
                <li>
                  <a href="http://www.youtube.com/user/xiaocao07/videos" target="_blank" sl-processed="1">艾晓明作品</a>（@<a href="https://twitter.com/xiaocao07" target="_blank" sl-processed="1">xiaocao07</a>）
                </li>
                <li>
                  <a href="http://www.youtube.com/user/chinasuntv" target="_blank" sl-processed="1">阳光卫视</a>：《乌坎》（<a href="http://www.youtube.com/watch?v=-NaB-4nmCj0" target="_blank" sl-processed="1">上集</a>
                  <a href="http://www.youtube.com/watch?v=xYFK1DwEGhc" target="_blank" sl-processed="1">下载</a>）
                </li>
                <li>赵亮：<a href="http://www.youtube.com/watch?v=XhK3y9Afm60" target="_blank" sl-processed="1">上访</a></li>
              </ul>
            </ul>
          </li>
          <li>专题片
            <ul>
              <ul>
                <li>NHK纪录片《毛泽东传》&nbsp;<a href="http://www.youtube.com/watch?v=T8AFwQ3_DHI" target="_blank" sl-processed="1">1)反潮流</a>&nbsp;<a href="http://www.youtube.com/watch?v=pLb4ZT5fzWc" target="_blank" sl-processed="1">2)魔法师的门徒</a>&nbsp;<a href="http://www.youtube.com/watch?v=FLzbt0VORYs" target="_blank" sl-processed="1">3)革命不是请客吃饭</a>&nbsp;<a href="http://www.youtube.com/watch?v=ywvNHmwGQRw" target="_blank" sl-processed="1">4)幽魂不散</a>
                </li>
                <li>阳光卫视纪录片《<a href="http://www.youtube.com/watch?v=L_5AFwtAZd4&amp;list=PLyb7MMIUE7qHXWjBIsZ2Ga4R8GTa_1MeL" target="_blank" sl-processed="1">陈独秀</a>》
                </li>
                <li>
                  <a href="http://www.youtube.com/playlist?list=PLCFBA5E7F0B73969D" target="_blank" sl-processed="1">《河殇》</a>，1988年CCTV纪录片（全六集）
                </li>
                <li>美国之音纪录片《<a href="http://www.youtube.com/watch?v=O1LMpYdHzhE" target="_blank" sl-processed="1">雪域烈焰
                  藏人自焚</a>》
                </li>
              </ul>
            </ul>
          </li>
          <li>媒体：<a href="http://www.youtube.com/user/VOAchina" target="_blank" sl-processed="1">美国之音中文网</a>&nbsp; &nbsp;<a href="http://www.youtube.com/user/NTDCHINESE" target="_blank" sl-processed="1">新唐人电视台</a>&nbsp; &nbsp;<a href="http://www.youtube.com/user/shitaotv" target="_blank" sl-processed="1">石涛TV</a>（@<a href="https://twitter.com/Shitaotv" target="_blank" sl-processed="1">Shitaotv</a>&nbsp;<a href="http://www.shitaotv.org/" target="_blank" sl-processed="1">官网</a>）
          </li>
          <li><a href="http://www.youtube.com/user/yuantengfeinet" target="_blank" sl-processed="1">袁腾飞视频</a></li>
        </ul>
      </ul>
    </li>
    <li>
      <a style="font-size:14px;line-height:1.5;" title="Ustream" href="http://www.ustream.tv/" target="_blank" sl-processed="1">Ustream</a>（可以非常方便地利用这个平台进行直播）
    </li>
  </ul>
  <p><strong>推荐服务</strong></p>
  <ul>
    <li><a href="https://www.google.com/?gws_rd=ssl" target="_blank" sl-processed="1">Google</a>
      搜索引擎，不二之选。建议尽量翻墙使用谷歌的服务，不解释。
    </li>
    <li><a href="https://mail.google.com/" target="_blank" sl-processed="1">Gmail</a>&nbsp;邮箱
      <a href="https://www.google.com/intl/zh-CN_us/goodtoknow/online-safety/mail-accounts/" target="_blank" sl-processed="1">安全常识1</a>
      <a href="http://www.guao.hk/posts/gmail-security-checklist.html" target="_blank" sl-processed="1">安全常识2</a>&nbsp;启用<a href="http://www.williamlong.info/archives/2754.html" target="_blank" sl-processed="1">两步验证</a>&nbsp;。
    </li>
    <li><a href="https://www.google.com/" target="_blank" sl-processed="1">谷歌搜索</a>（Google
      Search）&nbsp;教程：<a href="http://fanqianghou.com/2013/11/17/google/" target="_blank" sl-processed="1">从入门到精通4.0</a>&nbsp;，能翻墙就让百度见鬼去吧。
    </li>
    <li><a href="https://drive.google.com/" target="_blank" sl-processed="1">谷歌云端硬盘</a>（Google Drive）
      <a href="https://support.google.com/drive/topic/2816927?hl=zh-Hans&amp;ref_topic=14940" target="_blank" sl-processed="1">共享与协作</a>，可以快速提高工作效率，亦可方便发布文档到互联网。
    </li>
    <li><a href="http://cloud.feedly.com/#welcome" target="_blank" sl-processed="1">Feedly</a>，替代Google Reader的订阅器。&nbsp;<a href="http://www.appcheers.com/feedly.html" target="_blank" sl-processed="1">使用说明</a>&nbsp; &nbsp;&nbsp;<a href="http://fanqianghou.com/2013/11/22/rss-2/" target="_blank" sl-processed="1">部分新闻网站RSS</a>
    </li>
    <li><a href="https://www.dropbox.com/" target="_blank" sl-processed="1">Dropbox</a> 网盘</li>
    <li><a href="http://www.blogger.com/" target="_blank" sl-processed="1">Blogger</a> 及
      <a href="http://wordpress.com/" target="_blank" sl-processed="1">WordPress</a>&nbsp;博客服务，本网站就是基于后者建的，绑了一个域名。
    </li>
    <li><a href="http://zh.wikipedia.org/" target="_blank" sl-processed="1">维基百科</a> 部分中文辞条被墙。</li>
  </ul>
  <p><strong>翻墙相关</strong></p>
  <ul>
    <li>翻墙资讯
      <ul>
        <ul>
          <li>
            <a href="https://zh.greatfire.org/" target="_blank" sl-processed="1">中国的网络审查</a>（@<a href="https://twitter.com/GreatFireChina" target="_blank" sl-processed="1">GreatFireChina</a>） &nbsp;关注中国的网络审查，报道中国防火长城的最新资讯。
          </li>
          <li><a href="http://www.chinagfw.org/" target="_blank" sl-processed="1">GFW
            BLOG（功夫网与翻墙）</a>（@<a href="https://twitter.com/chinagfw" target="_blank" sl-processed="1">chinagfw</a>）&nbsp;提供网络安全、翻墙动态、翻墙观察及翻墙资源。
          </li>
          <li><a href="http://fqrt.zapto.org/" target="_blank" sl-processed="1">Fqrouter</a>，翻墙路由器，大量GFW分析文章。</li>
          <li>
            <a href="http://allinfa.com/" target="_blank" sl-processed="1">美博园</a>（@<a href="https://twitter.com/allinfa" target="_blank" sl-processed="1">allinfa</a>）&nbsp;&nbsp;墙动态及软件下载。
          </li>
          <li>
            <a href="http://storify.com/iaskfq" target="_blank" sl-processed="1">翻墙观察</a>（@<a href="https://twitter.com/iaskfq" target="_blank" sl-processed="1">iaskfq</a>） &nbsp; &nbsp;<a href="http://52youji.org/" target="_blank" sl-processed="1">游世界</a>&nbsp;翻墙动态及技术。
          </li>
        </ul>
      </ul>
    </li>
    <li>翻墙软件
      <ul>
        <ul>
          <li>最新免费翻墙软件<a href="https://s3.amazonaws.com/fqtools/index.html" target="_blank" sl-processed="1">墙内下载</a>，支持各平台，更新维护
            <a href="https://twitter.com/suoluo" target="_blank" sl-processed="1">@suoluo</a> 。
          </li>
          <li><a href="https://developers.google.com/appengine/" target="_blank" sl-processed="1">GAE</a>（Google App
            Engine） 包括：<a href="https://code.google.com/p/goagent/" target="_blank" sl-processed="1">GoAgent</a>&nbsp;，是使用跨平台语言Python
            开发的代理软件，利用GAE的服务器充當代理，幫助用戶瀏覽被封鎖的內容。（<a href="https://code.google.com/p/goagent/wiki/InstallGuide" target="_blank" sl-processed="1">下载及教程</a>&nbsp;&nbsp;<a href="http://www.gaeproxy.com/forum.php" target="_blank" sl-processed="1">Gaeproxy论坛</a>&nbsp;<a href="http://www.youtube.com/watch?v=dVmouyXHfd4&amp;feature=youtu.be" target="_blank" sl-processed="1">教学视频</a>）
          </li>
          <li>
            <span style="color:#ff6600;">推荐！</span><a href="http://www.vpngate.net/cn/" target="_blank" sl-processed="1">VPN
            Gate</a>&nbsp; 由全世界志愿者提供的公共 VPN
            服务器获得自由访问互联网。（<a href="http://www.vpngate.net/cn/download.aspx" target="_blank" sl-processed="1">下载</a>&nbsp;<a href="http://www.chinagfw.org/2014/05/20145.html" target="_blank" sl-processed="1">使用经验</a>）
          </li>
          <li>
            <span style="color:#ff6600;">推荐！</span><a href="http://shadowsocks.org/1.4/index.html" target="_blank" sl-processed="1">Shadowsocks</a>，一个用
            Python 写的 socks
            加密代理，技术宅的不二之选。<a href="http://pan.baidu.com/s/1mudKw" target="_blank" sl-processed="1">详尽教程</a>，由&nbsp;<a title="社民_技术宅" href="http://weibo.com/u/2902540931" sl-processed="1">@社民_技术宅</a>&nbsp;提供。（瘫痪中，等等官方消息）
          </li>
          <li>&nbsp;<a href="https://www.getlantern.org/" target="_blank" sl-processed="1">Lantern</a>&nbsp;已公开邀请，需<a href="https://www.getlantern.org/" target="_blank" sl-processed="1">用Gmail提交申请</a>，<a href="http://livingscoop.com/watch.php?v=MzIxMA==" target="_blank" sl-processed="1">介绍视频</a>，<a href="http://gaeproxy.com/thread-430-1-1.html" target="_blank" sl-processed="1">使用教程</a>，<a href="http://www.chinagfw.org/2013/12/lantern.html" target="_blank" sl-processed="1">批量添加好友</a>，<a href="https://github.com/getlantern/lantern/wiki/Installation:-server" target="_blank" sl-processed="1">在VPS上无界面运行教程</a>，各平台最新版完全安装版下载（<a href="https://s3.amazonaws.com/lantern/latest.dmg" target="_blank" sl-processed="1">Mac</a>&nbsp;<a href="https://s3.amazonaws.com/lantern/latest.exe" target="_blank" sl-processed="1">&nbsp;Windows</a>&nbsp;&nbsp;<a href="https://s3.amazonaws.com/lantern/latest-32.deb" target="_blank" sl-processed="1">Ubuntu32</a>&nbsp;&nbsp;<a href="https://s3.amazonaws.com/lantern/latest-64.deb" target="_blank" sl-processed="1">Ubuntu64</a>），<a href="https://groups.google.com/forum/#!forum/lantern-users-zh" target="_blank" sl-processed="1">中文论坛</a>，<a href="https://plus.google.com/communities/110961311457216179607" target="_blank" sl-processed="1">G+群组</a>，<a href="https://docs.google.com/forms/d/1JnwGZxRZOrQP4oAGt0TCFH2pWH_noWRdeFfJcFT5nfU/viewform?edit_requested=true" target="_blank" sl-processed="1">网络节点统计表</a>，<a href="http://fanqianghou.com/2013/11/29/lantern/" target="_blank" sl-processed="1">疑难杂症</a>。
          </li>
          <li><a href="http://wowlegacy.ml/" target="_blank" sl-processed="1">WoW Legacy</a>&nbsp;翻牆瀏覽器WowLegacy，基於Goagent重新開發，可一鍵翻牆。
          </li>
          <li><a href="http://dongtaiwang.com/" target="_blank" sl-processed="1">动态网</a>
            （<a href="http://dongtaiwang.com/loc/download.php" target="_blank" sl-processed="1">自由门下载</a>
            <a href="http://fankui.dongtaiwang.net/index.php?board=2.0" target="_blank" sl-processed="1">技术支持</a>&nbsp;有安卓版）调查显示最多人使用这个翻墙软件，建议和其他软件一并使用防止失效，注意更新。
          </li>
          <li><a href="http://www.wujieliulan.com/" target="_blank" sl-processed="1">无界浏览</a>
            （<a href="http://www.wujieliulan.com/download.php" target="_blank" sl-processed="1">下载</a>&nbsp;&nbsp;有安卓版，在首页右上角）
            目前仍有较多人使用的翻墙软件，建议和其他软件一并使用防止失效，注意更新。
          </li>
          <li>
            <a href="http://fqrt.zapto.org/" target="_blank" sl-processed="1">Fqroute</a>（@<a href="https://twitter.com/fqrouter" target="_blank" sl-processed="1">fqrouter</a>）&nbsp;
            <a href="http://www.vichx.com/post/Andriod-fqrouter.html" target="_blank" sl-processed="1">简介</a>&nbsp;<a href="https://github.com/fqrouter/fqrouter/wiki/home-newbie" target="_blank" sl-processed="1">详细使用方法</a>
          </li>
          <li><a href="https://s3.amazonaws.com/5nkt-sj7x-cc2h/zh.html" target="_blank" sl-processed="1">赛风</a>
            （<a href="https://s3.amazonaws.com/5nkt-sj7x-cc2h/zh.html" target="_blank" sl-processed="1">下载</a>）由开放网络基金资助、多伦多大学的公民实验室（Citizen
            Lab）开发。
          </li>
          <li>免费VPN &nbsp;<a href="https://www.vcupmars.com/" target="_blank" sl-processed="1">VPNCUP</a>&nbsp;iPhone及iPad
            用VPN比较方便。
          </li>
        </ul>
      </ul>
    </li>
    <li>建议关注：P2P翻墙项目&nbsp;<a href="https://uproxy.org/" target="_blank" sl-processed="1">Uproxy</a>&nbsp;的进展，谷歌翻墙利器。
    </li>
    <li>
      <span style="line-height:1.5;">实用工具：</span><span style="line-height:1.5;">测试网站是否被墙（<a href="http://www.websitepulse.com/help/testtools.china-test.html" target="_blank" sl-processed="1">websitepulse.com</a> &nbsp;<a href="https://zh.greatfire.org/test?url=" target="_blank" sl-processed="1">greatfire.org</a>） &nbsp;<a href="http://support.iaskfq.info/" target="_blank" sl-processed="1">iaskfq
      翻墙客服中心</a>（@<a href="https://twitter.com/iaskfq" target="_blank" sl-processed="1">iaskfq</a>）</span></li>
    <li>商业服务：
      <ul>
        <ul>
          <li>在淘宝搜索“<a href="http://s.taobao.com/search?spm=a230r.1.8.3.E1ZJsw&amp;promote=0&amp;sort=sale-desc&amp;initiative_id=staobaoz_20131118&amp;tab=all&amp;q=%C3%C0%B9%FA+%D3%CE%CF%B7%BC%D3%CB%D9%C6%F7&amp;stats_click=search_radio_all%3A1#J_relative" target="_blank" sl-processed="1">美国
            游戏加速器</a>”之类的关键词，即可轻松找到提供翻墙工具的服务商，问清楚是否只能访问特定游戏或购物网站。
          </li>
          <li>PUFF，商業版SSH和VPN計劃提供低至50元每年的翻墙方案（购买联系
            @<a href="https://twitter.com/stonehoo" target="_blank" sl-processed="1">stonehoo</a>&nbsp;email:
            jinwei1014@<span class="skimlinks-unlinked">gmail.com</span>）
          </li>
          <li><a href="https://www.astrill.com/sign-up.php" target="_blank" sl-processed="1">Asrill</a>，英文，提供全球VPN服务，有米之人不要错过。（@<a href="https://twitter.com/astrill" target="_blank" sl-processed="1">astrill</a>）
          </li>
        </ul>
      </ul>
    </li>
  </ul>
  <p><strong>历史事件</strong></p>
  <ul>
    <li>
      <a href="http://zh.wikipedia.org/wiki/%E9%95%87%E5%8E%8B%E5%8F%8D%E9%9D%A9%E5%91%BD%E8%BF%90%E5%8A%A8" target="_blank" sl-processed="1">镇反</a>&nbsp;<a href="http://zh.wikipedia.org/wiki/%E5%8F%8D%E5%8F%B3%E8%BF%90%E5%8A%A8" target="_blank" sl-processed="1">反右运动</a>&nbsp;<a href="http://zh.wikipedia.org/wiki/%E5%A4%A7%E8%B7%83%E8%BF%9B" target="_blank" sl-processed="1">大跃进</a>&nbsp;<a href="http://zh.wikipedia.org/wiki/%E6%96%87%E5%8C%96%E5%A4%A7%E9%9D%A9%E5%91%BD" target="_blank" sl-processed="1">文化大革命</a>（<a href="http://culturalrevolutionmuseum.com/" target="_blank" sl-processed="1">博物馆</a>）&nbsp;<a href="http://zh.wikipedia.org/wiki/%E8%A5%BF%E5%8D%95%E6%B0%91%E4%B8%BB%E5%A2%99" target="_blank" sl-processed="1">西单民主墙</a> &nbsp;<a href="http://zh.wikipedia.org/wiki/%E5%85%AD%E5%9B%9B%E4%BA%8B%E4%BB%B6" target="_blank" sl-processed="1">八九民运</a>（又称六四事件
      <a href="http://www.alliance.org.hk/" target="_blank" sl-processed="1">港支联</a>&nbsp;<a href="http://64memo.com/" target="_blank" sl-processed="1">六四档案</a>&nbsp;<a href="http://www.tiananmenmother.org/" target="_blank" sl-processed="1">天安门母亲</a>）<a href="http://zh.wikipedia.org/wiki/%E6%B3%95%E8%BD%AE%E5%8A%9F" target="_blank" sl-processed="1">法轮功</a>&nbsp;<a href="http://zh.wikipedia.org/wiki/%E9%9B%B6%E5%85%AB%E5%AE%AA%E7%AB%A0" target="_blank" sl-processed="1">零八宪章</a>（@<a href="https://twitter.com/08charterbbs" target="_blank" sl-processed="1">08charterbbs</a> &nbsp;<a href="http://08charterbbs.blogspot.com/" target="_blank" sl-processed="1">网站</a>）&nbsp;&nbsp;<a href="http://zh.wikipedia.org/wiki/%E4%B8%AD%E5%9C%8B%E8%8C%89%E8%8E%89%E8%8A%B1%E9%9D%A9%E5%91%BD" target="_blank" sl-processed="1">中国茉莉花革命</a>&nbsp;<a href="http://xgmyd.com/" target="_blank" sl-processed="1">新公民运动</a>（<a href="https://s3-ap-northeast-1.amazonaws.com/xgmyd/index.html" target="_blank" sl-processed="1">镜像</a>）
    </li>
  </ul>
  <p><strong>推荐博客</strong></p>
  <ul>
    <li>
      <a href="http://program-think.blogspot.com/" target="_blank" sl-processed="1">编程随想</a>（@<a href="https://twitter.com/programthink" target="_blank" sl-processed="1">programthink</a>）&nbsp;<a href="http://woeser.middle-way.net/" target="_blank" sl-processed="1">唯色：看不见的西藏</a>（@<a href="https://twitter.com/degewa" target="_blank" sl-processed="1">degewa</a>）
      <a href="http://wanglixiong.com/" target="_blank" sl-processed="1">王力雄：族群对话与新媒体</a>&nbsp;<a href="http://zhu-ruiblog.blogspot.com/" target="_blank" sl-processed="1">朱瑞：图伯特，在破碎与完整之间</a>（@<a href="https://twitter.com/zhurui11" target="_blank" sl-processed="1">zhurui11</a>）&nbsp;<a href="http://hexiefarm.wordpress.com/" target="_blank" sl-processed="1">蟹农场</a>（@<a href="https://twitter.com/hexiefarm" target="_blank" sl-processed="1">hexiefarm</a>） &nbsp;<a href="http://bloodundersnow.blogspot.com/" target="_blank" sl-processed="1">李江琳：西藏：另一种真实</a>（@<a href="https://twitter.com/JianglinLi" target="_blank" sl-processed="1">JianglinLi</a>） &nbsp;<a href="http://caochangqing.com/" target="_blank" sl-processed="1">曹长青</a>&nbsp;（@<a href="https://twitter.com/caochangqing" target="_blank" sl-processed="1">caochangqing</a>）
      <a href="http://wuerkaixi.com/" target="_blank" sl-processed="1">吾尔开希的流亡笔记</a>（@<a href="https://twitter.com/wuerkaixi" target="_blank" sl-processed="1">wuerkaixi</a>）
    </li>
  </ul>
  <p><strong>实用资源</strong></p>
  <ul>
    <li>
      <a href="http://www.daolan.net/" target="_blank" sl-processed="1">道兰字幕组</a>（@<a href="https://twitter.com/daolan2013" target="_blank" sl-processed="1">daolan2013</a>）&nbsp;成立于2008年，译制NHK纪录片，目前是国内最大的纪录片字幕组，翻译有上千部NHK纪录片。
    </li>
    <li>
      <a href="https://securityinabox.org/zh" target="_blank" sl-processed="1">安全工具箱</a>&nbsp;由“<a href="http://frontlinedefenders.org/" target="_blank" sl-processed="1">前线</a>”维护的一个安全常识和工具的网站，全部是免费软件。
    </li>
    <li>
      <a href="https://docs.google.com/document/d/1EGUayOC7dVuMWZM1rm4PdG4AwAl9bppBBE0t_LO4Pxs/edit?usp=sharing" target="_blank" sl-processed="1">个人信息安全管理</a>&nbsp;要保障安全，管理比技术更重要。<a href="https://www.wefightcensorship.org/zh-hans/article/ru-he-ni-ming-zai-xian-yi-ke-zhonghtml.html" target="_blank" sl-processed="1">上网匿名和隐私</a>
    </li>
    <li><a href="https://archive.org/" target="_blank" sl-processed="1">互联网档案馆</a>&nbsp;定期收录永久保存全球网站可抓取信息。</li>
    <li>
      <a href="http://chinadigitaltimes.net/chinese/%E7%A6%81%E7%89%87%E5%A4%A7%E5%85%A8%EF%BC%88%E9%99%84%E8%A7%82%E7%9C%8B%E5%9C%B0%E5%9D%80%EF%BC%89/" target="_blank" sl-processed="1">禁片</a>
      <a href="http://chinadigitaltimes.net/chinese/%E7%A6%81%E4%B9%A6%E5%88%97%E8%A1%A8/" target="_blank" sl-processed="1">禁书</a>（<a href="http://www.bannedbook.org/" target="_blank" sl-processed="1">禁书网</a>）
    </li>
    <li>
      <span style="line-height:1.5;">社区：</span><a style="line-height:1.5;" href="http://wenxuecity.com/" target="_blank" sl-processed="1">文学城</a><span style="line-height:1.5;">&nbsp;</span><a style="line-height:1.5;" href="http://6park.com/" target="_blank" sl-processed="1">留园网</a><span style="line-height:1.5;">&nbsp;</span><a style="line-height:1.5;" href="http://www.mitbbs.com/" target="_blank" sl-processed="1">未名空间</a><span style="line-height:1.5;">&nbsp;</span><a style="line-height:1.5;" href="http://backchina.com/" target="_blank" sl-processed="1">倍可亲</a><span style="line-height:1.5;">&nbsp;</span><a style="line-height:1.5;" href="http://hkreporter.com/" target="_blank" sl-processed="1">香港人网</a><span style="line-height:1.5;">&nbsp;</span><a style="line-height:1.5;" href="http://www.hkgolden.com/" target="_blank" sl-processed="1">香港高登</a>&nbsp;<a href="http://www.duping.net/" target="_blank" sl-processed="1">老人院</a>
    </li>
    <li>
      <span style="line-height:1.5;">社会运动资源：</span><a style="line-height:1.5;" href="http://www.chinarightsia.org/" target="_blank" sl-processed="1">中国权利在行动</a><span style="line-height:1.5;">（@</span><a style="line-height:1.5;" href="https://twitter.com/chinarightsia" target="_blank" sl-processed="1">chinarightsia</a><span style="line-height:1.5;">）&nbsp;</span><a style="line-height:1.5;" href="http://otporchina.blogspot.com/" target="_blank" sl-processed="1">抵抗！中国</a><span style="line-height:1.5;">&nbsp;</span><a style="line-height:1.5;" href="http://www.aeinstein.org/organizations812a.html" target="_blank" sl-processed="1">AEI</a><span style="line-height:1.5;">&nbsp;（中文资源太少了，有兴趣的看</span><a style="line-height:1.5;" href="http://otporchina.blogspot.com/2013/02/blog-post_22.html" target="_blank" sl-processed="1">这里</a><span style="line-height:1.5;">。） &nbsp;<a href="http://backtotiananmen.com/" target="_blank" sl-processed="1">重回天安门</a></span>
    </li>
  </ul>
  <p><strong>机构网站</strong></p>
  <ul>
    <li>中国相关：<a href="http://www.64tianwang.com/" target="_blank" sl-processed="1">中国天网人权事务中心</a>（@<a href="https://twitter.com/64tianwang" target="_blank" sl-processed="1">64tianwang</a>）&nbsp;<a href="http://www.alliance.org.hk/" target="_blank" sl-processed="1">港支联</a>（@<a href="https://twitter.com/HKA1989" target="_blank" sl-processed="1">HKA1989</a>）&nbsp;&nbsp;<a href="http://idemocracy.asia/" target="_blank" sl-processed="1">华人民主书院</a>（@<a href="https://twitter.com/twimocracy" target="_blank" sl-processed="1">twimocracy</a>）&nbsp;<a href="http://www.hrichina.org/cn/" target="_blank" sl-processed="1">中国人权</a>（@<a href="https://twitter.com/hrichina" target="_blank" sl-processed="1">hrichina</a>）
      <a href="http://www.chinesepen.org/Index.shtml" target="_blank" sl-processed="1">独立中文笔会</a>（@<a href="https://twitter.com/icpcicpcicpc" target="_blank" sl-processed="1">icpcicpcicpc</a>）&nbsp;<a href="http://www.tiananmenmother.org/" target="_blank" sl-processed="1">天安门母亲</a>&nbsp;<a href="http://www.chinaaid.net/" target="_blank" sl-processed="1">对华援助协会</a>（@<a href="https://twitter.com/bobfu4china" target="_blank" sl-processed="1">bobfu4china</a>）&nbsp;<a href="http://chinese.uhrp.org/" target="_blank" sl-processed="1">维吾尔人权项目</a>（@<a href="https://twitter.com/UHRP_Chinese" target="_blank" sl-processed="1">UHRP_Chinese</a>）
      <a href="http://www.chrlawyers.hk/" target="_blank" sl-processed="1">中国维权律师关注组</a>（@<a href="https://twitter.com/chrlcg" target="_blank" sl-processed="1">chrlcg</a>） &nbsp;<a href="http://www.initiativesforchina.org/" target="_blank" sl-processed="1">公民力量</a>（@<a href="https://twitter.com/iforchina" target="_blank" sl-processed="1">iforchina</a>） &nbsp;<a href="http://h-china.org/" target="_blank" sl-processed="1">人道中国</a>&nbsp;
      <a href="http://www.laogai.org/" target="_blank" sl-processed="1">劳改基金会</a>（@<a href="https://twitter.com/laogai" target="_blank" sl-processed="1">laogai</a>&nbsp;<a href="http://laogaimuseum.org/" target="_blank" sl-processed="1">劳改博物馆</a>） &nbsp;<a href="http://www.clb.org.hk/schi/" target="_blank" sl-processed="1">中国劳工通讯</a>（@<a href="https://twitter.com/clbchinese" target="_blank" sl-processed="1">clbchinese</a>） &nbsp;<a href="http://cdp1989.org/" target="_blank" sl-processed="1">中国民主党全国委员会</a>（@<a href="https://twitter.com/DPCNC" target="_blank" sl-processed="1">DPCNC</a>） &nbsp;<a href="http://www.cdp1998.org/" target="_blank" sl-processed="1">中国民主党全国联合总部</a>&nbsp;&nbsp;<a href="http://oclp.hk/" target="_blank" sl-processed="1">香港“占领中环”运动</a>
    </li>
    <li>国际：<a href="http://www.hrw.org/zh-hans/" target="_blank" sl-processed="1">人权观察</a>（@<a href="https://twitter.com/hrw_chinese" target="_blank" sl-processed="1">hrw_chinese</a>）&nbsp;<a href="http://rsf-chinese.org/" target="_blank" sl-processed="1">无国界记者</a>（@<a href="https://twitter.com/RSF_Asia" target="_blank" sl-processed="1">RSF_Asia</a>）&nbsp;<a href="http://zh.amnesty.org/" target="_blank" sl-processed="1">国际特赦</a>（@<a href="https://twitter.com/AIBaogao" target="_blank" sl-processed="1">AIBaogao</a>）
      <a href="http://www.frontlinedefenders.org/" target="_blank" sl-processed="1">前线卫士</a>（@<a href="https://twitter.com/FLD_China" target="_blank" sl-processed="1">FLD_China</a>）
    </li>
  </ul>
  <p><strong>成人网站 </strong>（成年人知道自己能做什么不能做什么，不需要他人指指点点，<span style="color:#ff6600;">未成年人请绕行</span>）</p>
  <ul>
    <li>
      <a href="http://t66y.com/index.php" target="_blank" sl-processed="1">草榴社区</a>&nbsp;草榴在手，夫复何求，成人网站中的良心。“<a href="http://t66y.com/thread0806.php?fid=7" target="_blank" sl-processed="1">技术讨论区</a>”中经常讨论中国社会热点事件，总有些人品爆棚的网友分享自己汇总整合的一些稀奇古怪的资源。花一分钟安装
      #<a href="http://fanqianghou.com/2014/09/04/twister-2/" target="_blank" sl-processed="1">Twister</a> ，全中文界面，关注
      @t66y ，即可方便获取 #草榴社区 免翻墙地址。
    </li>
    <li><a href="http://quickpornsearch.com/en/" target="_blank" sl-processed="1">Quick porn search</a>
      （成人视频搜索）<a href="http://www.xvideos.com/" target="_blank" sl-processed="1">xvideos.com</a>（世界排名最高的成人网站）
    </li>
    <li><a href="http://x-art.com/" target="_blank" sl-processed="1">X-Ar</a>t
      （@<a href="https://twitter.com/xart" target="_blank" sl-processed="1">xart</a>&nbsp;唯美，花点钱翻墙和花点钱上这个网站都是值得的，做个高端大气上档次的撸客。）
    </li>
  </ul>
  <div id="jp-post-flair" class="sharedaddy sd-like-enabled sd-sharing-enabled">
    <div class="sharedaddy sd-sharing-enabled">
      <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
        <h3 class="sd-title">Share this:</h3>

        <div class="sd-content">
          <ul>
            <li class="share-twitter">
              <a rel="nofollow" class="share-twitter sd-button share-icon" href="http://fanqianghou.com/?share=twitter&amp;nb=1" title="Click to share on Twitter" id="sharing-twitter-22" sl-processed="1"><span>Twitter</span></a>
            </li>
            <li class="share-facebook">
              <a rel="nofollow" class="share-facebook sd-button share-icon" href="http://fanqianghou.com/?share=facebook&amp;nb=1" title="Share on Facebook" id="sharing-facebook-22" sl-processed="1"><span>Facebook<span class="share-count">670</span></span></a>
            </li>
            <li class="share-google-plus-1">
              <a rel="nofollow" class="share-google-plus-1 sd-button share-icon" href="http://fanqianghou.com/?share=google-plus-1&amp;nb=1" title="Click to share on Google+" id="sharing-google-22" sl-processed="1"><span>Google</span></a>
            </li>
            <li class="share-end"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="sharedaddy sd-block sd-like jetpack-likes-widget-wrapper jetpack-likes-widget-unloaded" id="like-post-wrapper-60642173-22-543e43de90e59" data-src="//widgets.wp.com/likes/#blog_id=60642173&amp;post_id=22&amp;origin=fanqianghou.wordpress.com&amp;obj_id=60642173-22-543e43de90e59" data-name="like-post-frame-60642173-22-543e43de90e59">
      <h3 class="sd-title">Like this:</h3>

      <div class="likes-widget-placeholder post-likes-widget-placeholder" style="height:55px">
        <span class="button"><span>Like</span></span> <span class="loading">Loading...</span></div>
      <span class="sd-text-color"></span><a class="sd-link-color"></a></div>
  </div>
</div>
<!-- .entry-content -->
</article>
<!-- #post-## -->


</div>
<!-- #content -->
</div>