<h3>在 Android 下使用VPN</h3>
<h4>使用官方的 Cisco AnyConnect 连接 （服务器请填写 goomy.easya.cc:6379）</h4>
<p>
  如果你的安卓版本低于 4.0， 请先root你的手机。 低于4.0的安卓手机， 要装 AnyConnect App，必须有root的权限。 如何root，请参考 http://www.androidcentral.com/root 。
  root后，请下载并安装 Rooted AnyConnect 　
</p>
<p>
  高于4.0的安卓手机，不必root你的手机。请下载并安装 AnyConnect　ICS+　　
</p>

<br/>
<h4>以下是Android4.0系统的配置说明 </h4>

<p>
  1. 下载AnyConnect ICS+，地址是 <%= link_to('AnyConnect　ICS+', 'https://play.google.com/store/apps/details?id=com.cisco.anyconnect.vpn.android.avf&hl=en') %>
</p>
<p>
  2. 把下载好的AnyConnect ICS+ v3.0.09093.apk安装到手机 (如果直接通过手机安装可跳过此步骤)
</p>
<p>
  <%= image_tag('android/image011.jpg') %>
</p>

<p>
  　3. 打开手机上的AnyConnect客户端，点击“添加新的VPN连接”
</p>
<p>
  <%= image_tag('android/image013.jpg') %>
</p>

<p>
  　4. 在“连接编辑器里”，找到“说明”，设置你自己想要的名称， 比如 iqlink1 ，找到“服务器地址”，填写例如： goomy.easya.cc:6379 请先注册登陆; 并查到IP地址； 请用IP地址连， 比如 goomy.easya.cc:6379
</p>

<p>
  <%= image_tag('android/image015.jpg') %>
  <%= image_tag('android/image017.jpg') %>
</p>

<p>
  　5. 找到主界面右上角的按键，点击后找到“设置”，在“阻止不信任的服务器”里把勾去掉.
</p>
<p>
  <%= image_tag('android/image019.jpg') %>
</p>

<p>
  　6. 返回后点击刚刚设置的名称,比如 wyatt ，这时会出现“请输入您的用户名和密码”
</p>
<p>
  <%= image_tag('android/image021.jpg') %>
</p>

<p>
  　7. 这时你会看到“正在连接，请稍后”
</p>
<p>
  <%= image_tag('android/image023.jpg') %>
</p>

<p>
  　8. 会出现“安全警告：证书不可信”，点击“继续”. 我们注册并安装了自己的证书。但证书是和域名绑在一起的。 由于你只能用IP地址连接我们的服务器，故每次连接时都会出现此警告。现在没办法，请你相信我们，忽略此警告。
</p>

<p>
  <%= image_tag('android/image025.jpg') %>
</p>
