<h3>在 iOS 设备下使用VPN</h3>
<h4>安装和设置Cisco AnyConnect</h4>

<p>
  (1) 安装Cisco AnyConnect
</p>
<p>
  打开iPhone/iPad上的App Store，并且在搜索中输入AnyConnect。找到AnyConnect后点击install进行安装。进入App
  Store下载 <%= link_to('Cisco AnyConnect', 'http://itunes.apple.com/us/app/cisco-anyconnect/id392790924?mt=8') %>
</p>
<p>
  <%= image_tag('ios/image005.jpg') %>
</p>

<p>
  (2) 配置Cisco AnyConnect
</p>
<p>
  等待安装完成后，启动Cisco AnyConnect。点击「添加VPN连接…」增加一个新的配置，
</p>
<p>
  <%= image_tag('ios/image006.jpg') %>
</p>

<p>
  具体设置参见下图：
</p>
<p>
  <%= image_tag('ios/image007.jpg') %>
</p>

输入以下参数：
<ul>
  <li>
    服务器地址: goomy.easya.cc:6379
  </li>
  <li>
    描述: hk
  </li>
  <li>
    点击「保存」按钮，保存设置。
  </li>
</ul>

<p>
  (3) 连接VPN:
</p>
<p>
  回到AnyConnect的主界面后，在「选择连接…」中选择我们刚建立的连接「hk」，然后滑动AnyConnect VPN开关。AnyConnect就开始自动连接VPN。
</p>
<p>
  <%= image_tag('ios/image008.jpg') %>
</p>

<p>
  当AnyConnect连接上VPN后会提示您输入您的用户名和密码登录。您可以使用您在www.iqlinkvpn.com上使用的用户名和密码登录。输入完用户名和密码后点击右上角的「连接」按钮。
</p>
<p>
  <%= image_tag('ios/image009.jpg') %>
</p>
<p>
  在连接上VPN后，AnyConnect的状态「已连接」会显示为Connected，并且会在iOS设备的菜单栏上显示蓝色的VPN图标。
</p>

<p>
  (4) 断开VPN
</p>
<p>
  如果您不需要继续使用VPN您可以打开AnyConnect，将「AnyConnect VPN」的开关划到［O］的状态。状态显示为「已断开连接」时表示您已经断开VPN连接了。
</p>
