<h3>在 Mac OS 下使用VPN</h3>
<h4>安装和设置 Cisco AnyConnect</h4>

<p>
  (1) 首先需要点击下面连接下载Cisco AnyConnect (<%= link_to('anyconnect-macosx-i386-3.0.3054-k9.dmg', 'http://www.iqlinkvpn.com/downloads/anyconnect-macosx-i386-3.0.3054-k9.dmg') %>)，下载完成后双击刚下载的dmg文件，系统会自动加载光盘映像。打开目录并双击运行vpn.pkg。然后根据窗口的提示完成安装。
</p>
<p>
  <%= image_tag('mac/image008 (1).jpg') %>
</p>

<p>
  安装完成后打开「应用程序」文件夹，并找到和打开「Cisco」文件夹，运行「Cisco AnyConnect Secure Mobility Client」
</p>
<p>
  <%= image_tag('mac/image009.jpg') %>
</p>

<p>
  进入「应用程序」文件夹，并找到和打开「Cisco」文件夹，运行「Cisco AnyConnect Secure Mobility Client」
</p>
<p>
  <%= image_tag('mac/image013.jpg') %>
</p>
<p>
  运行后，在Connect to中输入 <strong>goomy.easya.cc:6379</strong> 注意： AnyConnect的端口现在是 6379，请加 :6379　如上图所示
</p>

<p>
  <%= image_tag('mac/image014.jpg') %>
</p>

<p>
  (2) 断开连接
</p>
<p>
  点击系统菜单栏上的AnyConnect图标，点击Disconnect断开连接。
</p>
<p>
  <%= image_tag('mac/image015.jpg') %>
</p>
