<h3>在Winodws下使用VPN</h3>

<h4>
  使用Cisco官方的Cisco AnyConnect （服务器请填写 goomy.easya.cc:6379）
</h4>

<ul>
  注意:
  <li>
    AnyConnect和Windows的Internet Connection Sharing（ICS)不兼容，如果你打开了ICS, 把它关掉才能正常使用AnyConnect。
  </li>
  <li>
    Anyconnect 和 Connectify 也不能一起工作，它们同时开启将导致网络不稳定。
  </li>
</ul>


<p>
  (1) <%= link_to('您可以手动下载和安装CiscoAnyConnect (推荐手动安装)', 'http://www.iqlinkvpn.com/downloads/anyconnect-win-3.0.3054-pre-deploy-k9.msi') %>
</p>

<p>(2) 链接 VPN</p>
从开始菜单中打开Cisco AnyConnect请注意在连接服务器前您必须开通了VPN账户，并且有访问指定VPN服务器的权力。

<p>
  <%= image_tag('windows/image006.jpg') %>
</p>
<p>
  输入服务器地址：goomy.easya.cc:6379 点击连接（Connect）按钮。
</p>

<p>
  可用的服务器及端口信息请参看网站提供的通知; 如域名无法连接，请用服务器的IP地址. 注意： AnyConnect的端口现在是 6379，请加 :6379　如图所示
</p>

<p>
  <%= image_tag('windows/image007.jpg') %>
</p>
<p>
  · 输入您在本网站所使用的用户名和密码，点击OK按钮。
</p>
<p>
  <%= image_tag('windows/image008.jpg') %>
</p>
<p>
  · 连接成功后可以在任务栏看见AnyConnect图标。
</p>
<p>
  <%= image_tag('windows/image009.jpg') %>
</p>
