<h3>在Winodws8下使用VPN</h3>
<h4>
  Windows 8/8.1
</h4>
<ul>
  <li>
    Windows 8: 并使用 Cisco AnyConnect 3.1.00495
    版. <%= link_to('anyconnect-win-3.1.00495-pre-deploy-k9.msi', 'http://www.iqlinkus.net/downloads/anyconnect-win-3.1.00495-pre-deploy-k9.msi') %>
  </li>
  <li>
    如果是Windows8.1: 你需要下载并使用 Cisco AnyConnect 3.1.04072 版 <%= link_to('anyconnect-win-3.1.04072-pre-deploy-k9.msi', 'http://www.iqlinkus.net/downloads/anyconnect-win-3.1.04072-pre-deploy-k9.msi') %> 使用说明同 Windows
    AnyConnect 一样。
  </li>
</ul>

<p>
  具体步骤如下：
</p>

<p>
  1: 安装 Cisco AnyConnect 3.1 版：
</p>

<p>
  <%= image_tag('win8/image201.jpg', size: '1080x600') %>
</p>

<p>
  2:用户在"徽标 (图像)"上左键单击(在"“开始”菜单"中)， 用户在"Connect (按钮)"上左键单击(在"Cisco AnyConnect Secure Mobility Client"中), 填写服务器 goomy.easya.cc:6379 然后点击设置（齿轮图标）
</p>

<p>
  <%= image_tag('win8/image204.jpg') %>
</p>

<p>
  3:点击"Preferences"， 不选 “Block connections to untrusted servers”
</p>

<p>
  <%= image_tag('win8/image205.jpg') %>
</p>

<p>
  4:输入你的用户名和密码（wyatt/616 或者 holly/525）， 即可。
</p>

<p>
  <%= image_tag('win8/image206.jpg') %>
</p>
