<div class="col-md-12">
  <div class="container">
    <div class="col-md-12">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#windows" data-toggle="tab">Windows</a></li>
        <li><a href="#windows8" data-toggle="tab">Window8</a></li>
        <li><a href="#android" data-toggle="tab">Android</a></li>
        <li><a href="#ios" data-toggle="tab">IPhone/IPad</a></li>
        <li><a href="#mac" data-toggle="tab">Mac</a></li>
        <li><a href="#after" data-toggle="tab">翻墙后</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="windows">
          <%= render 'windows' %>
        </div>

        <div class="tab-pane" id="windows8">
          <%= render 'windows8' %>
        </div>

        <div class="tab-pane" id="android">
          <%= render 'android' %>
        </div>

        <div class="tab-pane" id="ios">
          <%= render 'ios' %>
        </div>

        <div class="tab-pane" id="mac">
          <%= render 'mac' %>
        </div>

        <div class="tab-pane" id="after">
          <%= render 'after' %>
        </div>
      </div>
    </div>
  </div>
</div>
