<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title text-center">
      <i class="fa fa-hand-o-up"></i> 点击照片后可以使用鼠标或者手势 <i class="fa fa-chevron-circle-left"></i> 向左 <i class="fa fa-chevron-circle-right"></i> 向右滑动哦
    </h3>
  </div>
</div>

<div class="row box-margin">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail" id="gallery1">
      <%= image_tag("a1/1-1.jpg", class: 'img-rounded img-responsive') %>
      <div class="caption">
        <h3>哇, 帅气</h3>

        <p>帅气的一组. (有 <span class="label label-info">7</span> 张哦)</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail" id="gallery2">
      <%= image_tag("a2/2-1.jpg", class: 'img-rounded img-responsive') %>
      <div class="caption">
        <h3>恩, 小清新啊</h3>

        <p>来看看小清新啥样. (这个也有 <span class="label label-info">7</span> 张哦)</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail" id="gallery3">
      <%= image_tag("a3/3-1.jpg", class: 'img-rounded img-responsive') %>
      <div class="caption">
        <h3>绿色草地~~</h3>

        <p>为了拍这一套, 我们跑到好远的浏阳去了 - -|| (这个有 <span class="label label-info">9</span> 张)</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail" id="gallery4">
      <%= image_tag("a4/4-1.jpg", class: 'img-rounded img-responsive') %>
      <div class="caption">
        <h3>Holly 好可爱</h3>

        <p>有阿狸登场哦~~ Holly 好可爱, Wyatt 就免了. (这次有 <span class="label label-info">8</span> 张)</p>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail" id="gallery5">
      <%= image_tag("a5/5-1.jpg", class: 'img-rounded img-responsive') %>
      <div class="caption">
        <h3>小小的纪实回忆</h3>

        <p>我们两个在不停的转圈圈, 转圈圈~ Holly 转身好美. (这只有 <span class="label label-info">4</span> 张)</p>
      </div>
    </div>
  </div>
</div>
