<div class="page1"></div>
<div class="row">
  <div class="container left_font">
    <div class="col-md-6">
      <h1>就</h1>

      <h1>爱</h1>

      <h1>你</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 qrcode">
    <%= image_tag('qrcode.jpg', size: '100x100') %>
  </div>
</div>
