<!DOCTYPE html>
<html>
<head>
  <title>WeixinWyatt</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'libs/third', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'libs/third' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fulid">
  <%= yield %>
</div>

</body>
</html>
